p {
    margin: 0px !important;
}


.header {
    background-color: rgb(74, 74, 207);
    text-align: center right;
    display: inline-flex;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    padding: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: inline-flex;
}

.form-frame {
    position: absolute;
    top: 60px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(74, 74, 207);
}

.form-title{
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-weight: bold;
}

.form-parent {
    display: flex;
    flex-direction: column;
}

.form-desc{
    margin-top: 15px;
    display: flex;
    flex-direction: row !important;
}

.form-item {
    margin-top: 5px;
    padding: 5px;
    background-color: rgb(177, 177, 211);
    border-radius: 4px;
}

.form-img{
    width: 20px;
    height: 20px;
    display: none;
}

#form-button{
    margin-top: 10px;
    padding: 5px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 2px;
    border-style: outset;
    background-color: goldenrod;
}

#form-button:active{
    border-style: inset;
}